body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(Assets/pattern.webp);
    background-position: center;
    background-attachment: fixed;
    color: #e2e9ff;
    line-height: 1.7em;
    font-size: 1em;
    animation: fadein 0.75s ease forwards; 
}
header img:hover {
    transform: scale(1.1);
}
@keyframes fadein{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
 }  

.box {
    background-color: rgba(10, 10, 20, 0.918);
    backdrop-filter: blur(.3em);
    margin: 10em 30em 1em 30em;
    padding: 3em;
    border-style: solid;
    border-width: .1em;
    border-radius: 1em;
}

hr {
    border-style: dashed;
    border-top: 1px;
    opacity: 50%;
    margin-top: 2em;
    margin-bottom: 2em;
}

#CommissionTypes  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h1 {
    color: #8f0043;
    text-transform: capitalize;
}
h2 {
    color: #8f0043;
}
nav a {
    background-color: rgba(10, 10, 20, 0);
    color:#e2e9ff;
    padding: 10px;
    margin: .5em;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border-radius: 1em;
    border-color: #e2e9ff;
    border-style: outset;
    border-width: 2px;
  }
nav a:hover {
    color:#00ccff;
    border-color:#00ccff;
    transform: scale(1.1);
}
#Prices img {
    max-width: 225px;
    margin: 5px;
    border-radius: 10px;
}
#Prices img:hover {
    transform: scale(2);
}
a:visited {
    color:#e2e9ff;
  }
a:active {
    color:#e2e9ff;
}
a:hover {
    color: #00ccff;
}

@media only screen and (max-width: 1600px) {
    .box {
        margin: 5em 10em 1em 10em;
        padding: 3em;
    }
}
@media only screen and (max-width: 1024px) {
    .box {
        margin: 1em 1em 1em 1em;
        padding: 2em;
    }
}
@media only screen and (max-width: 500px) {
    .box {
        margin: .5em .5em .5em .5em;
        padding: 1em;
        font-size: .64em;
    }
    p, li, a {
        font-size: 1.4em;
    }
    img {
        max-width: 100%;
        max-height: 100%;
        }
}
