:root {
    --red: #ee0a37;
    --white: hsl(210, 28%, 95%);
    --lightBlue: #00bfff;
    --darkBlue: #0a0a11;
    --offWhite: hsl(210, 28%, 80%);
}

/* MAIN */

html {
    background-image: linear-gradient(black, var(--darkBlue));
    background-attachment: fixed;
    font-size: larger;
    color: var(--white);
    margin: auto;
    line-height: 25px;
    max-width: 2000px;
}

body {
    animation: load 1s;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--darkBlue), rgba(0, 0, 0, 0));
    padding: 25px;
    width: 100%;
}

h1, h2, h3, h4, h5, p {
    text-align: center;
}

p {
    color: var(--offWhite);
}

a {
    display: block;
    color: var(--white);
    text-decoration: none;
    padding: 15px;
    border: 1px var(--white) solid;
    margin: 15px;
    text-align: center;
    border-radius: 25px;
    font-family: 'Courier New', Courier, monospace;
    min-width: 300px;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s; /* Added transition for smooth hover effect */
}

a:hover {
    border: 1px var(--red) solid;
    color: var(--red);
    background-color: #190005;
    animation: hover 0.5s;
}

/* FLEX */

.flex {
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
    justify-content: center;
}

.update {
    width: 500px;
}

.flex p {
    text-align: left;
}

img {
    max-height: 400px;
}

ol {
    display: flex;
    flex-flow: column;
    gap: 50px;
}

/* FOOTER */

#social-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.svg {
    color: white;
}

/* NAV */

nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: auto;
    justify-content: center;
}

/* ANIMATION */

@keyframes hover {
    50% {
        color: var(--red);
        transform: scale(1.1);
    }
}

@keyframes load {
    from {
        position: relative;
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}