:root {
    --red: #9f003a;
    --white: #d5d5df;
    --lightBlue: #3BE1FF;
    --darkBlue: #0a0a11;
    --grey: #53749a;
}

/* HEADER */

header p {
    margin-top: auto;
}

/* MAIN */

html {
    background-color: var(--darkBlue);
    font-size:larger;
    color: var(--white);
}

 .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
 }
 .title img {
    width: 200px;
 }

hr {
    border-top: 1px solid var(--white);
    border-bottom: none;
    opacity: 25%;
}

h1, h2 {
    text-align: center;
    text-shadow: 0px 0px 5px black;
}

p, button {
    text-align: center;
    color: var(--white);
}

a {border-radius: 25px;}


/* COMMISSION INFO */

#options {
    display: flex;
    flex-flow: column wrap;
    align-items:center;
    justify-content: center;
}

/* FLEX */

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.flex img, .flex .update {
    width:  500px;
    margin: 25px;
}

.update {
    align-items: top;
}

.flex p {
    text-align: left;
}

/* FOOTER */

#social-buttons {
    display: flex;
flex-direction: row;    
justify-content: space-evenly;
    align-items: center;
}

.svg {
    color: white;
}

/* NAV */

nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

a {
    color: var(--white);
    text-decoration: none;
    padding: 15px;
}

a {
    background-color: var(--darkBlue);
    border: 1px solid var(--white);
    color: var(--white);
    margin: 15px;
    text-align: center;
    cursor: pointer;
    flex: 1;
}

a:hover {
    border: 1px solid var(--red);
    color: var(--red);
    background-color: #1a000a;
}
