:root {
    --red: #ac0550;
    --white: #ffffff;
    --lightBlue: #3BE1FF;
    --darkBlue: #000025;
    --grey: #53749a;
    --offWhite: #ececff;
}

/* MAIN */

html {
    background-color: var(--grey);
    background-size: cover;
    background-attachment: fixed;
    font-size:large;
}


 main, .title, footer {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}
main {
    align-items: center;
}

 .title {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .title img {
    width: 200px;
 }

hr {
    border-top: 1px solid var(--white);
    border-bottom: none;
    opacity: 25%;
}

h1, h2, h3, h4, p, button {
    text-align: center;
    color: var(--white);
    letter-spacing: 8px;
}


svg {
    fill: var(--white);
}

/* COMMISSION INFO */

#options {
    display: flex;
    flex-flow: column wrap;
    align-items:center;
    justify-content: center;
}

.examples {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.examples img {
    width:  30%;
    padding: 10px;
}


/* FOOTER */

#social-buttons {
    display: flex;
flex-direction: row;    
justify-content: space-evenly;
    align-items: center;
}

.svg {
    color: white;
}

/* BUTTONS */

.buttons {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}


button {
    background-color: #00002500;
    border: 1px solid var(--white);
    color: var(--white);
    padding: 15px;
    text-align: center;
    cursor: pointer;
    flex: 1;
    height: 50px;
    font-size: large;
}



/* QUEUE */

#queue {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    color: var(--white);
    font-family: 'Courier New', Courier, monospace;
}

/* GALLERY */

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.gallery img {
    width: 30%;
    padding: 10px;
}

/* 100% IMAGE WIDTH ON SMALLER SCREENS */

@media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
    .gallery img, .examples img {
        width: 100%; }
  }